now() {
  echo -n "Now is "
  date +"%X, %A, %B %-d, %Y"
}

status() {
  { echo -e "\nUptime:"
    uptime -p | sed 's/^/\t/'
    echo -e "Active users:"
    users | sed 's/^/\t/'
    echo -e "Open ports:"
    lsof -Pni4 | grep LISTEN | sed 's/^/\t/'
    echo -e "Memory:"
    free -hm | sed 's/^/\t/'
    echo -e "Disk space:"
    df -h 2> /dev/null | sed 's/^/\t/'
    echo -e "Disk inodes:"
    df -i 2> /dev/null | sed 's/^/\t/'
    echo -e "Block devices:"
    lsblk | sed 's/^/\t/'
    if [[ -r /var/log/syslog ]]; then
      echo -e "Syslog:"
      tail /var/log/syslog | sed 's/^/\t/'
    fi
    if [[ -r /var/log/messages ]]; then
      echo -e "Messages:"
      tail /var/log/messages | sed 's/^/\t/'
    fi
  } | less
}
